<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Team Degenerates">
    <title>searchterm · Sydney Analytics</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .bg-purple { background-color: #6f42c1; }

    </style>
</head>
<body>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">


            <!-- header -->
            <div class="row pt-4 px-3 mb-4 align-items-center justify-content-between">
                <div class="col d-flex align-items-center py-0">
                    <a href="index.htm"><img class="mr-3 d-inline-block" src="images/logo.svg" alt="" width="56"></a>
                    <h2 class="m-0 p-0 d-inline-block">Sydney Analytics</h2>
                </div>
                <div class="col-auto mr-auto">
                    <form class="form-inline xm-0 px-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

  </div>

            <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

            <div class="my-3 p-3 bg-white rounded shadow-sm">

                <h6 class="pb-3 mb-0">Found 4 suburbs matching 'A'</h6>

                <div class="list-group list-group-flush">
                    <a href="suburb.htm" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-0 text-primary">Abbotsbury</h5>
                            <span class="text-monospace">2176</span>
                        </div>
                        <small class="text-muted">City of Sydney</small>
                    </a>
                    <a href="suburb.htm" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-0 text-primary">Abbotsford</h5>
                            <span class="text-monospace">2046</span>
                        </div>
                        <small class="text-muted">City of Sydney</small>
                    </a>
                    <a href="suburb.htm" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-0 text-primary">Acacia Gardens</h5>
                            <span class="text-monospace">2763</span>
                        </div>
                        <small class="text-muted">City of Sydney</small>
                    </a>
                    <a href="suburb.htm" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-0 text-primary">Agnes Banks</h5>
                            <span class="text-monospace">2753</span>
                        </div>
                        <small class="text-muted">City of Sydney</small>
                    </a>

                </div>


                <div class="mt-3 d-flex justify-content-center">
                <nav aria-label="navigation">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
                </div>

            </div>

        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
