<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Team Degenerates">
    <title>Edgeliff · Sydney Analytics</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .bg-purple { background-color: #6f42c1; }

    </style>
</head>
<body>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <!-- header -->
            <div class="row pt-4 px-3 mb-4 align-items-center justify-content-between">
                <div class="col d-flex align-items-center py-0">
                    <a href="index.htm"><img class="mr-3 d-inline-block" src="images/logo.svg" alt="" width="56"></a>
                    <h2 class="m-0 p-0 d-inline-block">Sydney Analytics</h2>
                </div>
                <div class="col-auto mr-auto">
                    <form class="form-inline xm-0 px-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="browse.htm">Suburbs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edgecliff</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <iframe class="card-img-top"
                                height="300"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDD11KpJgAKV_NcnJ3buc7ehLwSQi41CCk&q=Edgecliff,NSW,AU">
                        </iframe>
                        <div class="card-body pb-2">
                            <h4 class="card-title">Edgecliff</h4>
                            <small class="d-block card-subtitle mb-2 text-muted">Woolhara Shire Council</small>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <dl>
                                    <dt>Postcode</dt>
                                    <dd>2027</dd>
                                    <dt>Area</dt>
                                    <dd>0.3194 km&sup2;</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-7">
                    <p><span class="badge badge-dark">Nearby Suburbs</span></p>
                    <p><a href="#">Rushcutters Bay</a>, <a href="#">Double Bay</a>, <a href="#">Paddington</a>, <a href="#">Bondi</a>, <a href="#">Kings Cross</a></p>
                    <hr>
                    <p><span class="badge badge-dark">Demographics</span></p>
                    <div class="row text-center">
                        <div class="col">
                            <div><span style="font-size: 2rem;">1,156</span><i class="fa fa-male fa-2x fa-fw"></i></div>
                            <div><span class="text-uppercase small text-muted" style="line-height:1">Male</span></div>
                        </div>
                        <div class="col">
                            <div><span style="font-size: 2rem;">1,422</span><i class="fa fa-female fa-2x fa-fw"></i></div>
                            <div><span class="text-uppercase small text-muted">Female</span></div>
                        </div>
                        <div class="col">
                            <div><span style="font-size: 2rem;">$89K</span></div>
                            <div><span class="text-uppercase small text-muted">Avg yearly income</span></div>
                        </div>
                    </div>
                    <hr>
                    <p><span class="badge badge-dark">Nearby train stations</span></p>
                    <img src="http://127.0.0.1:5000/suburbs/10033/train-stations" class="img-fluid" alt="Train stations"/>
                    <hr>


<!--                    <p><span class="badge badge-dark">Schools</span></p>-->
<!--                    <p class="text-center">There are no schools in this suburb.</p>-->
<!--                    <hr>-->
                    <p><span class="badge badge-dark">Schools</span></p>
                    <dl>
                        <dt>Private</dt>
                        <dd>Sydney Grammar School Edgecliff Preparatory School</dd>
                        <dt>Public</dt>
                        <dd>Edgeware School, Bondi Public School</dd>
                    </dl>
                    <hr>
                    <p><span class="badge badge-dark">Train Stations</span></p>
                    <table class="table table-sm small table-borderless">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                            <th class="text-center">AM Peak</th>
                            <th class="text-center">PM Peak</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Edgeliff Station</td>
                            <td>90m</td>
                            <td class="text-center">7-9am</td>
                            <td class="text-center">4-6:30pm</td>
                        </tr>
                        <tr>
                            <td>Kings Cross Station</td>
                            <td>1.38km</td>
                            <td class="text-center">7-9am</td>
                            <td class="text-center">4-6:30pm</td>
                        </tr>
                        <tr>
                            <td>Bondi Junction Station</td>
                            <td>1.70km</td>
                            <td class="text-center">7-9am</td>
                            <td class="text-center">4-6:30pm</td>
                        </tr>
                        <tr>
                            <td>Museum Station</td>
                            <td>2.41km</td>
                            <td class="text-center">7-9am</td>
                            <td class="text-center">4-6:30pm</td>
                        </tr>
                        <tr>
                            <td>St James Station</td>
                            <td>2.44km</td>
                            <td class="text-center">7-9am</td>
                            <td class="text-center">4-6:30pm</td>
                        </tr>
                        </tbody>
                        
                    </table>


                    <hr>
                    <p><span class="badge badge-dark">Crime Rates</span></p>
                    <img src="http://127.0.0.1:5000/suburbs/10033/crime-rates?start_year=2013" class="img-fluid" alt="Crime rate"/>
                    <hr>
                    <p><span class="badge badge-dark">Restaurants</span></p>
                    <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
                    <hr>
                    <p><span class="badge badge-dark">Loading</span></p>
                    <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
